main {
  display: flex;
}

.navItem {
  background-color: rgb(0, 81, 255);
  color: antiquewhite;
  padding: 10px;
  text-decoration: none;
  width: 100px;
}

#videoLink {
  background-color: brown;
  color: antiquewhite;
  padding: 10px;
  text-decoration: none;
  width: 100px;
}